#current-chat.chat-dialog {
  display: flex;
  flex-direction: column;
  height: 100vh; // или 100% если обёртка ограничена по высоте
  font-size: 16px;
}
.chat-header {
  position: sticky;
  top: 0;
  background-color: white; // или твой фон
  z-index: 10;
  padding-top: 12px;
  border-bottom: solid 1px var(--bs-gray);
}

.chat-messages {
  
  overflow-y: auto;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 65px;

    padding-right: 42px;
    padding-left: 34px;
}
.chat-send {

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bs-primary);
  color: white;
  font-size: 20.6px; /* размер иконки */
  align-self: center;

}
.chat-user {
  gap:9px;
}
.chat-user .avatar{
  position: relative;
    top: -6px;
}
.chat-user-info {
  padding-left: 2px;
    padding-top: 4px;
}
.chat-form{
  position: sticky;
  bottom: 0;
  padding-bottom: 18px;
  margin-left: -15px;

}
.chat-form .form-search{
  padding: 32px 24px;
  border-bottom: none;
  border-top: solid 1px var(--bs-gray);
  padding-bottom: 62px;
}

// Общие стили для сообщения
.message {
  display: flex;
  align-items: flex-start;
 

  .avatar {

    border-radius: 50%;
    object-fit: cover;
    align-self: flex-end;
  }

  .message-body {
    display: flex;
    flex-direction: column;
    max-width: 563px;
    min-width: 237px;
  }

 .message-content {
    padding: 1.5rem;
    border-radius: 1rem;
    word-wrap: break-word;
    text-align: left;
 h5{
  color: var(--bs-dark);
 }
  }

  .message-time {
    font-size: 0.875rem;
    color: #6C757D99;
    margin-top: -12px;
  
  }

}

// Сообщение собеседника (слева)
.message-in {
  align-self: flex-start;
  flex-direction: row;
  gap: 15px;

  .message-content {
    background-color: var(--bs-light);
    color: var(--bs-secondary);
  }
}
h5 {
  white-space: nowrap;
}
// Сообщение пользователя (справа)
.message-out {
  align-self: flex-end;
  justify-content: flex-end;
  gap: 15px;

  .message-content {
    background-color: var(--bs-primary);
    color: var(--bs-light);
  }
  .message-time  {

    color: #FFFFFF99;
  }
}
.chat-dialog p{
  margin-bottom: 0px !important;
}

hr{
  margin-top: 8px !important;
}


@media (max-width: 767.98px) {
  form.chat-form{
    background-color: #fbfbfb;
    margin-left: 9px;
    
  }
  .message .message-content {

  padding-left: 23px;
  padding-right: 12px;
  padding-top: 25px;
  margin-left: 15px;
}
.chat-messages {
  padding-top: 50px;
}

.chat-form .form-search{
padding-bottom:22px;
margin-bottom: 54px;
  margin-top: 0;
  background-color: #fbfbfb;
}
.chat-header{
  padding-top: 5px;
  padding-bottom: 12px;
}
.chat-send {
  
  align-self: flex-start;
  transform: translateY(50%);
  width: 42px;
  height: 42px;
  margin-right: 19px;
 

}
.chat-current .header-logo-icon {
  left: -100px;
}
.chat-current .mL{
  margin-left:-30px
}
}
