@import url('../var');

@mixin hide-scrollbar() {
  & {
    overflow: hidden auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.contacts {
  @include hide-scrollbar;

  box-sizing: border-box;
  height: 100vh;
  padding-bottom: 100px;
  overflow-y: auto;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.form-search {
  width: 100%;
  margin-top: 22px;
  padding: 24px;
  padding-bottom: 25px;
  font-size: 16px;
  border: none;
  border-bottom: solid 1px var(--bs-gray);
}

.avatar {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
}

.chat .avatar {
  margin-top: 45px;
}

.chat-info {
  padding-top: 46px; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

.contact {
  margin-top: 24px;
  padding-bottom: 24px;
  border: none;
}

a.contact {
  color: #212529;
  text-decoration: none;
}

.contact:hover {
  color: var(--bs-light);
  background-color: var(--bs-primary);
}

.contact-status {
  color: var(-bs--secondary);
  font-size: 14px;
  line-height: 21px;
}

.contact-status:hover {
  color: var(--bs-light);
}

h6 {
  margin: 0;
  padding-top: 12px;
}

.mB-34 {
  margin-bottom: 34px;
}

.text {
  padding-top: 24px;
  padding-left: 24px;
}

h5 {
  font-weight: 700;
  font-size: 16px;
}
