@import url("../var");

.header a {
  color: var(--bs-light);
  text-decoration: none;
}

.header.d-flex {
  flex-wrap: nowrap;
}

.header .nav-link {
  padding: 0;
  text-decoration: none; // убираем подчеркивание
  // сохраняем цвет текста
  background-color: transparent; // убираем фон при активном состоянии
  border: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: var(--bs-light);
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.nav-tabs {
  border: none;
}

.header-logo-icon {
  width: 40px;
  height: 25px;
  position: relative;
  left: -22px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link svg {
  margin-right: 8px;
}

.border-right {
  border-right: solid 1px var(--bs-gray);
}

.gap-24 {
  gap: 29px;
}

.header-controls {
  padding-left: 8px;
}

@media (width <= 767.98px) {
  .header-logo-icon {
    left: -155px;
  }

  .radius-left-top {
    border-radius: 0 !important;
  }

  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
  }
}
