.welcome-message.d-flex.flex-column.justify-content-center.align-items-center.h-100
  img.mb-4.rounded-circle(src="images/avatar_1.jpg", width="200", height="200", alt="Аватар Кодовёнка")
  .welcome-text.text-center
    h5 Привет, Кодовёнок
     p.text-black-50.small Выбери чат, чтобы начать общаться