extends layout.pug

block content
  .container-xxl.row.div(class="md:radius")
    .col-md-4.border-right 
      header.header.d-flex.bg-primary.radius-left-top.w-100
        .container-fluid.d-flex.flex-nowrap.justify-content-end.justify-content-md-center.align-items-center
          .header-logo.text-decoration-none
            svg.header-logo-icon
              use(xlink:href="img/sprite.svg#logo")

          nav.header-controls.d-flex.flex-nowrap.gap-24.ul.nav.nav-tabs.flex-nowrap(role="tablist")
            li.nav-item
              a.nav-link.d-flex.align-items-center(href="#contacts", data-bs-toggle="tab", role="tab", aria-selected="false")
                svg(width="25" height="25")
                  use(xlink:href="img/sprite.svg#people")
                span.d-none.d-sm-inline Контакты
            li.nav-item
              a.nav-link.d-flex.align-items-center(href="#chats", data-bs-toggle="tab", role="tab", aria-selected="true")
                svg(width="25" height="25")
                  use(xlink:href="img/sprite.svg#chat")
                span.d-none.d-sm-inline Сообщения
            li.nav-item
              a.nav-link.d-flex.align-items-center(href="#profile", data-bs-toggle="tab", role="tab", aria-selected="false")
                svg(width="25" height="25")
                  use(xlink:href="img/sprite.svg#person")
                span.d-none.d-sm-inline Профиль

      .tab-pane.fade.show.active#chats(role="tabpanel")
        include components/message.pug

    .col-md-8 
      #current-chat.chat-dialog
        // Шапка
        .chat-header
          .chat-user.d-flex.align-items-center
            img.avatar.rounded-circle(src="images/avatar_4.jpg", alt="Аватар")
            .chat-user-info.ms-3
              h5.chat-user-name.mb-0 Вениамин Редакторович
              small.contact-status.chat-user-status Онлайн

        // Область сообщений
        .chat-messages
          // Входящее
          .message.message-in
            img.shadow-sm.avatar(src="images/avatar_4.jpg", alt="Аватар")
            .message-body
              .message-content.shadow-sm
                h5.chat-user-name Вениамин Редакторович
                p Да, я уже вышел и минут через 20–30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
                .message-time 8 минут назад

          // Исходящее
          .message.message-out
            img.shadow-sm.avatar(src="images/avatar_1.jpg", alt="Аватар")
            .message-body
              .message-content.shadow-sm
                p Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
                .message-time 5 минут назад

          // Входящее
          .message.message-in
            img.shadow-sm.avatar(src="images/avatar_4.jpg", alt="Аватар")
            .message-body
              .message-content.shadow-sm
                h5.chat-user-name Вениамин Редакторович
                p Лады
                .message-time 5 минут назад

          // Исходящее
          .message.message-out
            img.shadow-sm.avatar(src="images/avatar_1.jpg", alt="Аватар")
            .message-body
              .message-content.shadow-sm
                p А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
                .message-time 3 минуты назад

          // Входящее
          .message.message-in
            img.shadow-sm.avatar(src="images/avatar_4.jpg", alt="Аватар")
            .message-body
              .message-content.shadow-sm
                h5.chat-user-name Вениамин Редакторович
                p o_O
                .message-time Только что

       
          form.chat-form.d-flex
            input.form-search(type="text", placeholder="Напишите сообщение…")
            button.chat-send(type="submit")
              i.bi.bi-send


