extends layout.pug

block content
  .container-xxl.row.div(class="md:radius")
    .col-md-4.border-right 
      include components/chat-header.pug

      .tab-content
        .tab-pane.fade#current-chat(role="tabpanel")
          include components/chat.pug
          
        .tab-pane.fade#contacts(role="tabpanel")
          include components/contact.pug

        .tab-pane.fade.show.active#chats(role="tabpanel")
          include components/message.pug

        .tab-pane.fade#profile(role="tabpanel")
          include components/profile.pug