-
  const chats = [
    {
      id: 1,
      name: "Вениамин Редакторович",
      avatar: "images/avatar_4.jpg",
      lastMessage: "o_O",
      time: "11:45",
    },
    {
      id: 2,
      name: "Джедай Падаванов",
      avatar: "images/avatar_2.jpg",
      lastMessage: "Привет, скоро третий проект? Уже скоро надо...",
      time: "10:12",
    },
    {
      id: 3,
      name: "Алексей Примадонин",
      avatar: "images/avatar_3.jpg",
      lastMessage: "Тесты упали >.<",
      time: "08:53",
    }
  ]